In [1]:
import pandas as pd

In [2]:
rawTable = pd.read_csv('../data/allHeadlinesNLPRaw.csv')

In [29]:
def makeCount(col):
    s = {}
    for st in rawTable['persons_raw']:
        if not pd.isnull(st):
            for n in st.split(','):
                if n in s.keys():
                    s[n] += 1
                else:
                    s[n] = 1
    return s

def partialNames(nameCount):
    parNames = {}
    for n in nameCount.keys():
        parts = n.split()
        l = len(parts)
        # general partial names
        if l > 1:
            for i in range(l):
                for j in range(i+1,l+1):
                    p = ' '.join(parts[i:j])
                    if p in nameCount.keys() and p != n:
                        if p in parNames.keys():
                            parNames[p].add(n)
                        else:
                            parNames[p] = set([n])
    for p in parNames.keys():
        parNames[p] = sorted(list(parNames[p]), key=lambda x: nameCount[x], reverse=True)
    return parNames

def longNames(nameCount):
    lNames = {}
    for n in nameCount.keys():
        parts = n.split()
        l = len(parts)
        if l > 2:
            for i in range(l):
                for j in range(i+1,l+1):
                    if j-i > 1:
                        p = ' '.join(parts[i:j])
                        if p in nameCount.keys() and p != n and nameCount[p] > nameCount[n]:
                            if n in lNames.keys():
                                lNames[n].add(p)
                            else:
                                lNames[n] = set([p])
                        p = parts[i] + ' ' + parts[j]
                        if p in nameCount.keys() and p != n and nameCount[p] > nameCount[n]:
                            if n in lNames.keys():
                                lNames[n].add(p)
                            else:
                                lNames[n] = set([p])
                        
                        
    for p in lNames.keys():
        lNames[p] = sorted(list(lNames[p]), key=lambda x: nameCount[x], reverse=True)
    return lNames


def makeConvertDic(parNames):
    convert = {}
    for n in parNames.keys():
        if len(n.split()) == 1: 
            mostCom = parNames[n][0].split()
            # ignore first names
            if mostCom[0] == n:
                convert[n] = None
            # convert last names to most common full name
            if  mostCom[len(mostCom)-1] == n:
                convert[n] = ' '.join(mostCom)
        # reduce long names to two words
        if len(n.split()) > 1:
            for long in parNames[n]:
                convert[long] = n
    return convert
        
def reduceCount(nameCount):
    parNames = partialNames(nameCount)
    convert = makeConvertDic(parNames)
    reducedNameCount = {}
    for n in nameCount.keys():
        if n in convert.keys():
            if convert[n] in reducedNameCount.keys():
                reducedNameCount[convert[n]] += nameCount[n]
            else:
                if convert[n] is not None:
                    reducedNameCount[convert[n]] = nameCount[n]
        else:
            reducedNameCount[n] = nameCount[n]
    return(reducedNameCount)

In [5]:
nameCount = makeCount(rawTable['persons_raw'])
parNames = partialNames(nameCount)
convert = makeConvertDic(parNames)
    

reducedNameCount = {}
for n in nameCount.keys():
    if n in convert.keys():
        if convert[n] in reducedNameCount.keys():
            reducedNameCount[convert[n]] += nameCount[n]
        else:
            if convert[n] is not None:
                reducedNameCount[convert[n]] = nameCount[n]
    else:
        reducedNameCount[n] = nameCount[n]

In [7]:
redNames = pd.DataFrame.from_dict(reducedNameCount, orient='index').sort_values(0, ascending=False)
redNames = redNames[redNames[0]>5]
reducedNameCount['Theresa May']

256

In [31]:
lNames = longNames(nameCount)
lNames['Recep Tayyip Erdogan']

KeyError: 'Recep Tayyip Erdogan'

In [6]:
name = 'Kohl'
rawTable[rawTable.apply(lambda x: not pd.isnull(x['persons_raw']) and name in x['persons_raw'], axis=1)]

,author,date,journal,link,section,summary,title,locations_raw,organizations_raw,persons_raw
24236,THE ASSOCIATED PRESS,2016-05-13,NYT,http://www.nytimes.com/2016/05/13/business/dai...,Business Day,Technology and health care stocks took the lar...,Market Is Mixed After Unemployment Claims Rise,NaN,NaN,Kohl
29160,NaN,2016-06-12,NYT,http://www.nytimes.com/2016/06/12/sports/roger...,Sports,"On grass, the Swiss Federer lost to the Austri...",Roger Federer Falls on His Favorite Surface to...,Germany,NaN,"Philipp Kohlschreiber,Dominic Thiem,Roger Fede..."
43720,THE ASSOCIATED PRESS,2016-08-11,NYT,http://www.nytimes.com/aponline/2016/08/11/bus...,Business Day,Stocks that moved substantially or traded heav...,"Macy's, Kohl's and Brinker Climb, While Shake ...",NaN,"Macy 's,Brinker climb",Kohl
44013,THE ASSOCIATED PRESS,2016-08-11,NYT,http://www.nytimes.com/aponline/2016/08/11/bus...,Business Day,Kohl's fiscal second-quarter profit beat analy...,Kohl's 2Q Profit Tops Expectations as It Lower...,NaN,NaN,Kohl
44029,REUTERS,2016-08-11,NYT,http://www.nytimes.com/reuters/2016/08/11/busi...,Business Day,All three major U.S. stock indexes closed at r...,Three Major Indexes End at Records for First T...,U.S.,Macy 's,Kohl
44030,REUTERS,2016-08-11,NYT,http://www.nytimes.com/reuters/2016/08/11/busi...,Business Day,Kohl's Corp reported a higher-than-expected qu...,Kohl's Quarterly Profit Beats Estimates; Share...,NaN,Corp,Kohl
45198,REUTERS,2016-08-12,NYT,http://www.nytimes.com/2016/08/12/business/dai...,Business Day,"The department store operator Macy’s, which sa...","Stocks End at Record Highs, Bolstered by Retai...",NaN,Macy 's,Kohl
45390,REUTERS,2016-08-13,NYT,http://www.nytimes.com/reuters/2016/08/13/spor...,Sports,India crushed West Indies at the third test in...,Kohli Joy as India Rout West Indies to Win Series,"India,India Rout West Indies,West Indies,St Lucia",NaN,"Kohli Joy,Virat Kohli"
63264,THE ASSOCIATED PRESS,2016-09-19,NYT,http://www.nytimes.com/aponline/2016/09/19/bus...,Business Day,"Kohl's plans to hire more than 69,000 addition...","Kohl's to Hire 69,000 Seasonal Workers",NaN,NaN,Kohl
63297,REUTERS,2016-09-19,NYT,http://www.nytimes.com/reuters/2016/09/19/busi...,Business Day,Department store operator Kohl's Corp said on ...,Kohl's to Keep Seasonal Hiring Little Changed ...,United States,"Corp,target Corp",Kohl
64979,REUTERS,2016-09-21,NYT,http://www.nytimes.com/reuters/2016/09/21/spor...,Sports,India have the resources to become the best te...,India Can Be the Best in Test After Bumper Sea...,India,NaN,Virat Kohli
66079,REUTERS,2016-09-22,NYT,http://www.nytimes.com/reuters/2016/09/22/spor...,Sports,India captain Virat Kohli won the toss and opt...,India Skipper Kohli Opts to Bat in Series Open...,"India,Green Park Stadium,Kanpur,New Zealand In...",NaN,"Kohli,Virat Kohli"
68455,REUTERS,2016-09-26,NYT,http://www.nytimes.com/reuters/2016/09/26/spor...,Sports,India captain Virat Kohli lavished praise on s...,Kohli Hails 'Priceless' Ashwin After Kanpur He...,New Zealand,Kanpur Heroics India,"Virat Kohli,Kohli,Ravichandran Ashwin"
69458,REUTERS,2016-09-27,NYT,http://www.nytimes.com/reuters/2016/09/26/spor...,Sports,Of all the things that went right in the test ...,Pujara's Kanpur Transformation Augurs Well for...,"India,Kanpur,New Zealand",NaN,"Cheteshwar Pujara,Pujara,Virat Kohli"
71144,REUTERS,2016-09-29,NYT,http://www.nytimes.com/reuters/2016/09/29/spor...,Sports,India test captain Virat Kohli remains sceptic...,Cricket-Kohli Hints at End to India's Dogged D...,India,drs resistance India,Virat Kohli
72259,REUTERS,2016-09-30,NYT,http://www.nytimes.com/reuters/2016/09/30/spor...,Sports,India captain Virat Kohli won the toss and dec...,India Opt to Bat Against New Zealand in Kolkata,"Kolkata India,India,Eden Gardens,New Zealand",NaN,"Kane Williamson,Virat Kohli"
77752,REUTERS,2016-10-08,NYT,http://www.nytimes.com/reuters/2016/10/08/spor...,Sports,The normally free-scoring Virat Kohli showed t...,Careful Kohli Steers India to 267-3 in Indore,"India,New Zealand",careful Kohli Steers India,Virat Kohli
78174,REUTERS,2016-10-09,NYT,http://www.nytimes.com/reuters/2016/10/09/spor...,Sports,Virat Kohli smashed his second test double cen...,"Cricket-Supreme Kohli, Composed Rahane Punish ...","India,New Zealand",NaN,"Cricket-Supreme Kohli,Virat Kohli,Ajinkya Rahane"
83148,REUTERS,2016-10-16,NYT,http://www.nytimes.com/reuters/2016/10/16/spor...,Sports,India's Virat Kohli continued to torment New Z...,India's Classy Kohli Secures Easy Win Over New...,"India,Dharamsala,New Zealand India,New Zealand",NaN,"Classy Kohli,Virat Kohli"
88134,REUTERS,2016-10-23,NYT,http://www.nytimes.com/reuters/2016/10/23/spor...,Sports,Virat Kohli hit an unbeaten 154 to make short ...,Majestic Kohli Guides India to Seven-Wicket Win,"India,Kohli Guides India,Mohali,New Zealand",NaN,Virat Kohli
91274,CHRISTINE HAUSER,2016-11-08,NYT,http://www.nytimes.com/2016/11/09/us/third-bod...,U.S.,The bodies were removed from the property of T...,Third Body Found in South Carolina After Chain...,South Carolina,NaN,Todd C. Kohlhepp
97607,LAURA COLLINS-HUGHES,2016-12-18,NYT,http://www.nytimes.com/2016/12/18/theater/revi...,Theater,"The work, a trip through Anna Kohler’s memorie...",Review: ‘Mytho? Lure of Wildness’ Teases the S...,Paris,NaN,"Caleb Hammond,Anna Kohler"
99523,NaN,2016-01-03,WSJ,http://www.wsj.com/articles/no-11-tcu-roars-ba...,"Life,Sports,College Football","No. 11 TCU Roars Back to Beat No. 15 Oregon, 4...","No. 11 TCU Roars Back to Beat No. 15 Oregon, 4...","Oregon,Alamo Bowl","TCU roar back,Horned Frogs,TCU",Bram Kohlhausen
100563,Suzanne Kapner and Joann S. Lublin and Dana Ma...,2016-01-10,WSJ,http://www.wsj.com/articles/kohls-weighs-next-...,Business,"Kohl’s Weighs Next Steps, as Woes Mount As sho...","Kohl’s Weighs Next Steps, as Woes Mount",NaN,NaN,Kohl
100751,Miriam Gottfried,2016-01-11,WSJ,http://www.wsj.com/articles/for-kohls-this-sal...,"Markets,Heard on the Street","Heard on the Street For Kohl’s, This Sale May ...","For Kohl’s, This Sale May Be the Best of All",NaN,NaN,Kohl
105471,Joshua Jamerson,2016-02-04,WSJ,http://www.wsj.com/articles/kohls-cuts-outlook...,"Business,Earnings",Kohl’s Cuts Outlook on Soft Sales Kohl’s logge...,Kohl’s Cuts Outlook on Soft Sales,NaN,NaN,Kohl
106851,Suzanne Kapner,2016-02-12,WSJ,http://www.wsj.com/articles/kohls-eliminates-t...,Business,Kohl’s Eliminates Three Senior Leadership Posi...,Kohl’s Eliminates Three Senior Leadership Posi...,NaN,NaN,Kohl
109242,Anne Steele,2016-02-25,WSJ,http://www.wsj.com/articles/kohls-profit-falls...,"Business,Earnings","Kohl’s Profit Falls 20%, Plans to Test Smaller...","Kohl’s Profit Falls 20%, Plans to Test Smaller...",NaN,Corp.,Kohl
122637,Joshua Jamerson,2016-05-12,WSJ,http://www.wsj.com/articles/kohls-posts-surpri...,Business,Kohl’s Posts Surprise Sales Decline Kohl’s pos...,Kohl’s Posts Surprise Revenue Decline,NaN,NaN,Kohl
135266,Sara Germano,2016-07-26,WSJ,http://www.wsj.com/articles/under-armour-reven...,"Business,Earnings",Under Armour to Open Sales at Kohl’s Under Arm...,Under Armour to Begin Selling Products at Mid-...,NaN,Mid-Tier Department Store Kohl,"Armour,Kohl"
138224,Joshua Jamerson,2016-08-11,WSJ,http://www.wsj.com/articles/kohls-beats-expect...,"Business,Earnings","Kohl’s Beats Expectations, Helps Lift Retail S...","Kohl’s Beats Expectations, Helps Lift Retail S...",NaN,NaN,Kohl
142480,Anne Steele,2016-09-08,WSJ,http://www.wsj.com/articles/kohls-dolls-up-wit...,Business,Kohl’s Dolls Up With American Girl Kohl’s will...,Kohl’s Dolls Up With American Girl for Holiday...,NaN,Mattel,Kohl
152514,NaN,2016-11-06,WSJ,http://www.wsj.com/articles/south-carolina-man...,U.S.,South Carolina Man Allegedly Killed Seven Peop...,South Carolina Man Allegedly Killed Seven People,South Carolina Man allegedly kill seven people...,NaN,Todd Kohlhepp
153371,Ezequiel Minaya,2016-11-10,WSJ,http://www.wsj.com/articles/kohls-profit-rises...,"Business,Earnings",Kohl’s Profit Rises on Strong Back-to-School S...,Kohl’s Profit Rises on Strong Back-to-School S...,NaN,NaN,Kohl
155328,Suzanne Vranica,2016-11-23,WSJ,http://www.wsj.com/articles/retailers-dominate...,"Business,Media & Marketing,CMO",Retailers Dominate List of Popular Holiday Ads...,Retailers Dominate List of Popular Holiday Ads,NaN,"Wal-Mart,Macy 's",Kohl
157707,NaN,2016-12-09,WSJ,http://www.wsj.com/articles/los-angeles-sues-f...,Business,Los Angeles Sues Four National Retailers Over ...,Los Angeles Sues Four National Retailers Over ...,NaN,Los Angeles sue four National Retailers over S...,"Sears,J.C. Penney,Kohl"

In [8]:
len(pd.unique(rawTable['date']))

366

In [12]:
g = rawTable.groupby(['date', 'journal'])

In [20]:
rawTable.loc[g.groups[('2016-01-01', 'NYT')],'persons_raw']

0                                      NaN
1                                      NaN
2                            Zhang Xiaotao
3                     Alfred Lord Tennyson
4                                      NaN
5                                      NaN
6                                      NaN
7                              Pamela Paul
8                               Jared Goff
9                       Clemson Jake Coker
10                                     NaN
11                                     NaN
12                                     NaN
13                                     NaN
14                                     NaN
15                                     NaN
16                                     NaN
17                                     NaN
18                                     NaN
19                                     NaN
20                                     NaN
21                                     NaN
22                          Deshaun Watson
23                Villarreal,Bruno Soriano
24                         Auston Matthews
25                             Kenta Maeda
26                                     NaN
27                      Eter Nikolaishvili
28                                     NaN
29                                     NaN
                      ...
103                               Duchenne
104                                    NaN
105             Andrew Haigh,Tom Courtenay
106                                    NaN
107    Juan F. Thompson,Hunter S. Thompson
108          Corvette Jerry Seinfeld,Obama
109                         Hassan Rouhani
110                                    NaN
111             Marco Rubio,Chris Christie
112               Ted Cruz,Cruz,Ben Carson
113                                    NaN
114                                    NaN
115                                    NaN
116                          Blake Bortles
117                     Hissène Habré,Chad
118                                    NaN
119                                    NaN
120                                    NaN
121                                    NaN
122                        Connor Cummings
123                            Eide Marine
124                                    NaN
125                                    NaN
126                                    NaN
127                                    NaN
128                                    NaN
129                         Shohret Hoshur
130                       Edward Hugh,Hugh
131               Weissman,Murray Weissman
132                                    NaN
Name: persons_raw, dtype: object