In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [5]:
engine = create_engine('postgresql://journalitics:Jour327@vagrant:5432/journalitics')
pd.read_sql_query('select * from name_counts', engine)

         index  count        date journal              name
0            0      2  2014-08-07    NYDN    chrissy teigen
1            1      6  2014-08-07    NYDN         de blasio
2            2      2  2014-08-07    NYDN   whoopi goldberg
3            3      2  2014-08-07    NYDN       violet grey
4            4      2  2014-08-07    NYDN    george clooney
5            5      2  2014-08-07    NYDN     nicole murphy
6            6      2  2014-08-07    NYDN      indio downey
7            7      2  2014-08-07    NYDN         lady gaga
8            8      2  2014-08-07    NYDN       kevin ortiz
9            9      2  2014-08-07    NYDN     eliezer pabon
10          10      2  2014-08-07    NYDN     steve buscemi
11          11      2  2014-08-07    NYDN      javier payne
12          12      2  2014-08-07    NYDN      hank baskett
13          13      2  2014-08-07    NYDN   daniel pantaleo
14          14      2  2014-08-07    NYDN   tom prendergast
15          15      2  2014-08-07    NYDN       lamar sally
16          16      2  2014-08-07    NYDN       miley cyrus
17          17      2  2014-08-07    NYDN   harry met sally
18          18      2  2014-08-07    NYDN     michael burke
19          19      2  2014-08-07    NYDN    mickey drexler
20          20      2  2014-08-07    NYDN   kristen stewart
21          21      4  2014-08-07    NYDN   sherri shepherd
22          22      2  2014-08-07    NYDN    kate middleton
23          23      2  2014-08-07    NYDN  albus dumbledore
24          24      2  2014-08-07    NYDN     justin bieber
25          25      2  2014-08-07    NYDN     ramona singer
26          26      2  2014-08-07    NYDN       kris jenner
27          27      2  2014-08-07    NYDN    michael nutter
28          28      2  2014-08-07    NYDN  stephen a. smith
29          29      2  2014-08-07    NYDN  kendra wilkinson
...        ...    ...         ...     ...               ...
464341  464341      1  2014-05-24     NYP      hector noesi
464342  464342      1  2014-05-24     NYP       bill ackman
464343  464343      1  2014-05-24     NYP      miguel cotto
464344  464344      1  2014-05-24     NYP   alain vigneault
464345  464345      1  2014-05-24     NYP      brian leetch
464346  464346      2  2014-05-24     NYP   david robertson
464347  464347      3  2014-05-24     NYP     brandon prust
464348  464348      1  2014-05-24     NYP       ari graynor
464349  464349      1  2014-05-24     NYP   conor gillaspie
464350  464350      1  2014-05-24     NYP      janay palmer
464351  464351      1  2014-05-24     NYP          ray rice
464352  464352      1  2014-05-24     NYP     hiroki kuroda
464353  464353      1  2014-05-24     NYP     terry collins
464354  464354      1  2014-05-24     NYP       jeff nelson
464355  464355      1  2014-05-24     NYP      julian green
464356  464356      1  2014-05-24     NYP  garrett richards
464357  464357      1  2014-05-24     NYP       justin long
464358  464358      2  2014-05-24     NYP     jason stevens
464359  464359      1  2014-05-24     NYP     andrea peyser
464360  464360      2  2014-05-24     NYP   michel therrien
464361  464361      1  2014-05-24     NYP      dan carcillo
464362  464362      3  2014-05-24     NYP       joe girardi
464363  464363      1  2014-05-24     NYP  caroline kennedy
464364  464364      1  2014-05-24     NYP        kanye west
464365  464365      1  2014-05-24     NYP         adam dunn
464366  464366      1  2014-05-24     NYP    kim kardashian
464367  464367      1  2014-05-24     NYP    vladimir putin
464368  464368      1  2014-05-24     NYP   chirlane mccray
464369  464369      1  2014-05-24     NYP      david wright
464370  464370      1  2014-05-24     NYP        adam eaton

[464371 rows x 5 columns]

In [61]:
def getTopNameCount(startDate, endDate):
    keep = 20
    data = pd.read_sql_query("select * from name_counts where date >= '" + 
                         startDate + "' and date <= '" + endDate + "'", engine)
    jours = pd.unique(data['journal'])
    groups = data.groupby(['journal', 'name']).groups
    results = {}
    for j in jours:
        res = {}
        jGroups = [g for g in groups.keys() if g[0] == j]
        nameCount = [(g[1], sum(data['count'][groups[g]])) for g in jGroups]
        nameCount = sorted(nameCount, key=lambda x: x[1], reverse=True)[:20]
        res['names'] = [x[0] for x in nameCount]
        res['count'] = [int(x[1]) for x in nameCount]
        results[j] = res
    return results

In [30]:
startDate = '2016-01-01'
endDate = '2016-12-31'
data = pd.read_sql_query("select * from name_counts where date >= '" + 
                         startDate + "' and date <= '" + endDate + "'", engine)
groups = data.groupby(['journal', 'name']).groups

In [34]:
j = 'NYT'
jGroups = [g for g in groups.keys() if g[0] == j]
nameCount = [(g[1], sum(data['count'][groups[g]])) for g in jGroups]
nameCount = sorted(nameCount, key=lambda x: x[1], reverse=True)[:20]
names

ValueError: too many values to unpack (expected 2)

In [3]:
con = engine.connect()

In [7]:
startDate = "2015-01-01"
endDate = "2016-12-31"
data = pd.read_sql_query("select name, journal, sum(count) as count " +
                             "from name_counts " +
                             "where date between '" + startDate + "' and '" +
                             endDate + "' group by name, journal " +
                             "order by count desc " +
                             "limit 100", engine)

In [12]:
jours = [str(j) for j in pd.unique(data['journal'])]

In [13]:
jours

['NYT', 'WSJ', 'NYDN']

In [38]:
res = {}
keep = 20
journalCounts = [data[data['journal']==j][['name', 'count']][:keep] 
                     for j in jours]
journalCounts = [list(jc.T.to_dict().values()) for jc in journalCounts]

In [162]:
topNames = [str(x) for x in pd.unique(data['name'])[:keep]]
jourMax = [max(data[data['journal']==j]['count']) for j in jours]
compare = data[data['name'].apply(lambda x: x in topNames)]
compare['freq'] = compare.apply(lambda x: x['count'] / jourMax[jours.index(x['journal'])], 1)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [163]:
compare

               name journal  count      freq
0      Donald Trump     NYT   4303  1.000000
1   Hillary Clinton     NYT   2293  0.532884
2      Donald Trump     WSJ   2090  1.000000
3      Donald Trump    NYDN   1437  1.000000
4         de Blasio    NYDN   1265  0.880306
5   Hillary Clinton     WSJ   1190  0.569378
6      Barack Obama     WSJ    676  0.323445
7   Hillary Clinton    NYDN    574  0.399443
8    Bernie Sanders     NYT    514  0.119452
9        Kanye West    NYDN    501  0.348643
10     Gerard Baker     WSJ    500  0.239234
11   Kim Kardashian    NYDN    480  0.334029
12     Barack Obama     NYT    476  0.110620
13     Taylor Swift    NYDN    453  0.315240
14        de Blasio     NYT    421  0.097839
15        de Blasio     WSJ    418  0.200000
16     Bill Bratton    NYDN    354  0.246347
17   Vladimir Putin     NYT    342  0.079479
18   Bernie Sanders     WSJ    321  0.153589
19    Justin Bieber    NYDN    298  0.207376
20         Ted Cruz     NYT    276  0.064141
21          Beyoncé    NYDN    264  0.183716
22     Andrew Cuomo     WSJ    245  0.117225
23  Rodrigo Duterte     NYT    243  0.056472
24     Jimmy Fallon    NYDN    241  0.167711
25       John Kerry     NYT    236  0.054845
26   Caitlyn Jenner    NYDN    235  0.163535
27        De Blasio    NYDN    231  0.160752
43         Ted Cruz     WSJ    176  0.084211
44   Vladimir Putin     WSJ    174  0.083254
52       John Kerry     WSJ    151  0.072249
56   Bernie Sanders    NYDN    147  0.102296
95     Barack Obama    NYDN    105  0.073069

In [41]:
filesList = ['../scraping/NYTHeadlines2012.csv', '../scraping/NYTHeadlines2013.csv', '../scraping/NYDNHeadlines2014.csv',
            '../scraping/NYPHeadlines2012.csv', '../scraping/NYPHeadlines2013.csv', '../scraping/NYPHeadlines2013b.csv',
            '../scraping/NYPHeadlines2013c.csv', '../scraping/NYPHeadlines2014.csv', '../scraping/NYPHeadlines2015.csv',
            '../scraping/NYPHeadlines2015b.csv', '../scraping/NYPHeadlines2015c.csv', '../data/NYPTitles.csv',
            '../scraping/WSJHeadlines2012.csv', '../scraping/WSJHeadlines2012b.csv', '../scraping/WSJHeadlines2013.csv',
            '../scraping/WSJHeadlines2014.csv', '../scraping/WSJHeadlines2014b.csv', '../scraping/WSJHeadlines2014c.csv',
            '../scraping/NYDNHeadlines2012.csv', '../scraping/NYDNHeadlines2013.csv', '../scraping/NYDNHeadlines2014.csv']

In [96]:
tables = []
for f in filesList:
    print(f)
    t = pd.read_csv(f)
    if 'Unnamed: 0' in t.columns:
        t = t.drop('Unnamed: 0', 1)
    tables.append(t)

../scraping/NYTHeadlines2012.csv
../scraping/NYTHeadlines2013.csv
../scraping/NYDNHeadlines2014.csv
../scraping/NYPHeadlines2012.csv
../scraping/NYPHeadlines2013.csv
../scraping/NYPHeadlines2013b.csv
../scraping/NYPHeadlines2013c.csv
../scraping/NYPHeadlines2014.csv
../scraping/NYPHeadlines2015.csv
../scraping/NYPHeadlines2015b.csv
../scraping/NYPHeadlines2015c.csv
../data/NYPTitles.csv
../scraping/WSJHeadlines2012.csv
../scraping/WSJHeadlines2012b.csv
../scraping/WSJHeadlines2013.csv
../scraping/WSJHeadlines2014.csv
../scraping/WSJHeadlines2014b.csv
../scraping/WSJHeadlines2014c.csv
../scraping/NYDNHeadlines2012.csv
../scraping/NYDNHeadlines2013.csv
../scraping/NYDNHeadlines2014.csv

In [100]:
allTitles = pd.concat(tables)

In [102]:
len(allTitles)

605145

In [150]:
allTitles1.to_csv('../data/newHeadlines.csv', encoding='utf8', index=False)

In [107]:
for i in range(len(allTitles)):
    tableRow = allTitles.iloc[i,:]
    title = tableRow['title']
    summary = tableRow['summary']
    if not pd.isnull(summary):
        text = title + ' ' + summary
    else:
        text = title
    assert isinstance(text, str)

AssertionError:

In [108]:
i

78862

In [111]:
allTitles.iloc[i,:]

author     NaN
date       NaN
journal    NaN
link       NaN
section    NaN
summary    NaN
title      NaN
Name: 9492, dtype: object

In [112]:
text

nan

In [113]:
pd.isnull(text)

True

In [129]:
allTitles1 = allTitles[allTitles.apply(lambda x: (not pd.isnull(x['title'])) or (not pd.isnull(x['summary'])), axis=1)]

In [148]:
import re
allTitles1['summary'] = allTitles1['summary'].apply(lambda x: re.sub('\x02', '', str(x)))

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [149]:
allTitles1['summary'].iloc[78878]

'People use payday loans to avoid borrowing from family and friends, and to avoid cutting back further on expenses. But they often end up doing those things anyway to pay back the loan, a new report finds. The average payday loan ...'